.header {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 1440px;
    border: 1px solid #979797;
    background: #D8D8D8;
    background-image: url('./images/object.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header-conteiner {
    margin: 0 auto;
    padding: 0;
    margin-bottom: 339px;
    width: 54.51%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.header__logo {
    margin: 0;
    padding: 0;
    background-image: url('./images/logo.svg');
    width: 161px;
    height: 32px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__navigation {
    margin: 0;
    padding: 0;
    max-width: 400px;
}

.header__navigation-list {
    margin: 0;
    padding: 0;
    max-width: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 41px;

}

.header__navigation-punct {
    margin: 0;
    padding: 0;
    list-style-type: none;
    cursor: pointer;
    color: #FFF;
    font-family: Source Sans Pro;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: opacity ease 0.5s;
}

.header__navigation-punct:hover {
    opacity: 0.8;
}

.project {
    margin: 0 auto;
    padding: 0;
    width: 54.51%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #FFF;
}

.project__title {
    margin: 0;
    padding: 0;
    margin-bottom: 2px;
    max-width: 578px;
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.project__subtitle {
    margin: 0;
    padding: 0;
    max-width: 355px;
    margin-bottom: 53px;
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.project__link {
    margin: 0;
    padding: 0;
    text-decoration: none;
    cursor: pointer;
    max-width: 162px;
}

.progect__button {
    margin: 0;
    padding: 0;
    border: none;
    color: fff;
    margin-bottom: 65px;
    width: 162px;
    height: 44px;
    flex-shrink: 0;
    cursor: pointer;
    border-radius: 22px;
    background: #FF6565;
    transition: opasity 0.5s ease;
}

.progect__button:hover {
    opacity: 0.8;
}

.project__text {
    margin: 0;
    padding: 0;
    margin-bottom: 115px;
    width: 54.51%;
    max-width: 637px;
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;

}