.result {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 1440px;
    background: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: url('./images/bitmap.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.result::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 2;
    /* Полупрозрачный цвет */
}


.result__title {
    margin: 0;
    padding: 0;
    margin-top: 83px;
    margin-bottom: 40px;
    max-width: 600px;
    color: #FFF;
    text-align: center;
    font-family: SourceSansPro;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    z-index: 2;

}

.result__text {
    margin: 0;
    padding: 0;
    max-width: 640px;
    margin-bottom: 97px;
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    z-index: 2;

}

@media screen and (max-width: 700px) {
    .result__text {
        max-width: 90%;
    }
}

.result-list {
    margin: 0 auto;
    padding: 0;
    margin-bottom: 110px;
    width: 69.58%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 58px;
}

@media screen and (max-width: 1000px) {
    .result-list {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

@media screen and (max-width: 540px) {
    .result-list {
        grid-template-columns: 1fr;
    }
}

.result-item {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
    max-width: 250px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

@media screen and (max-width: 540px) {
    .result-item {
        max-width: 400px;
    }
}

.result-item-img {
    margin: 0;
    padding: 0;
    background-image: url('./images/result.png');
    width: 190px;
    height: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
}

.result-item-title {
    margin: 0;
    padding: 0;
    margin-bottom: 13px;
    max-width: 111px;
    color: #FFF;
    text-align: center;
    font-family: SourceSansPro;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    /* 144.444% */
}

.result-item-text {
    margin: 0;
    padding: 0;
    max-width: 111px;
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}